@use '../../../global/' as var;

/* ==========================
contact-item
=========================== */
.p-contact-item {
  margin: 60px auto;

  @include var.mq(sp) {
    margin: 111px 0;
  }

  &__container {
    padding: 0 20px;

    @include var.mq(lg) {
      padding: 0 239px;
    }
  }
&__intro {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.714;

    @include var.mq(xl) {
      width: 60%;
      margin: auto;
    }
  }
  
  &__form {
    max-width: 687px;
    margin: 0 auto;

    @include var.mq(sp) {
      width: 100%;
      margin-top: 60px;
    }
  }

  &__form-top-title {
    font-size: 26px;
    font-weight: 700;

    @include var.mq(sp) {
      margin-bottom: 80px;
    }
  }

  &__form-item {
    margin-top: 35px;
  }

  &__form-title {
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      content: attr(data-sub);
      font-size: 18px;
      color: var.$c-data-sub;
    }

    @include var.mq(sp) {
      font-size: 1.4rem;
    }
  }

  &__form input {
    display: inline-block;
    height: 48px;
    border-radius: 5px;
  }

  &__input {
    
    &--error {
      width : 100%;
      padding: 0;
      display: inline-block;
      font-size: 90%;
      color: red;
      box-sizing: border-box;
    }
  }

  &__form-submit {
    text-align: center;

    @include var.mq(xxl) {
      text-align: left;
    }
  }

  &__button {
    display: inline-block;
    padding: 18px 40px 16px 0;
    margin-top: 40px;
    color: var.$c-white;
    background-color: #000;
    font-size: 26px;
    max-width: 186px;
    width: 186px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      top: 18%;
      left: 70%;
      margin: auto;
      background-color: var.$c-data-sub;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      top: 30%;
      left: 75%;
      margin: auto;
      background: url(../../img/arrow-icon.png) no-repeat center center / cover;
    }

    @include var.mq(sp) {
      padding: 26px 126px;
      margin: 44px 0;
      font-size: 14px;
    }

    &:hover {
      transition: 0.3s 0.3s;
    }
  }

  &__contact-message {
    text-align: center;
    margin-top: 60px;
    display: none;
  }

  &__error {
    color: #f00;
  }
}

textarea {
  display: inline-block;
  width: 100%;
  height: 240px;
  min-height: 122px;
  resize: vertical;
  border: 1px solid #ddd;
  border-radius: 5px;

  @include var.mq(sp) {
    height: 140px;
  }
}

input[type="text"] {
  width: 228px;

} 
input[type="email"] {
  width: 250px;
} 
