@use '../../../global/' as var;

/* ==========================
title
=========================== */
.p-blog-title {
  margin-top: 15px;
  text-align: center;


  &__en {
    padding: 6px 0;
    font-size: 52px;
    font-weight: 700;
  

    @include var.mq(sp) {
      font-size: 52px;
    }
  }

  &__jp {
    display: inline-block;
    padding: 4px 0;

    @include var.mq(xxl) {
      font-size: 18px;
    }
  }

    &__icon   {
    width: 93.45px;
    height: 15.65px;
    margin: 18px 0 57px 0;
  }
}
