@charset "UTF-8";
/* リセットCSS
===================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before, q::after {
  content: "";
  content: none;
}

blockquote::before, blockquote::after {
  content: "";
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", "Zen Kaku Gothic New", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.45;
  list-style: none;
  background-color: #F5F5F5;
  background-size: 100px 100px;
  position: relative;
}
body::before {
  content: "";
  background: url(../../img/dot.png);
  background-repeat: repeat;
  background-size: 83px 83px;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: -1;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.util-ttl {
  font-size: 3rem;
  font-weight: 600;
}

.util-link {
  position: relative;
  display: block;
  padding: 0.8em 0;
  font-size: 2rem;
  font-weight: 600;
  color: #3e3e3e;
  text-align: center;
  letter-spacing: 0.2em;
  border: solid 1px #3e3e3e;
  transition: background-color 0.2s, color 0.2s;
}
.util-link.mod-light {
  color: #fff;
  border-color: #fff;
}

.section-inner {
  margin: 0 90px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #023e78;
}

.is-sp {
  display: block;
}
@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}

li {
  list-style: none;
}

h1.wp-block-heading {
  font-size: 21px;
  font-weight: 700;
  border-bottom: 2px solid #000000;
  padding-bottom: 14px;
  margin: 39px 0;
  text-align: left;
}

h2.wp-block-heading {
  font-size: 21px;
  font-weight: 700;
  background: linear-gradient(transparent 50%, #29FFF2 0);
  display: block;
  margin: 39px 0;
  text-align: left;
}

h3.wp-block-heading {
  font-size: 21px;
  font-weight: 700;
  border-left: solid 3px #000000;
  padding-left: 10px;
  margin: 39px 0;
  text-align: left;
}

h4.wp-block-heading {
  font-size: 18px;
  font-weight: 700;
  padding: 0 3px;
  background: #29FFF2;
  margin: 39px 0;
  text-align: left;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

a:hover, a:focus, a:active {
  transition: all 0.5s;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
button:active, button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/* Typography
--------------------------------------------- */
/* Elements
--------------------------------------------- */
/* Links
--------------------------------------------- */
/* Forms
--------------------------------------------- */
/* ==========================
header
=========================== */
.l-header {
  padding-top: 22px;
}
.l-header__wrapper {
  padding-right: 24px;
  padding-left: 24px;
}
.l-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-header__title {
  font-size: 32px;
  font-weight: 700;
}

.l-header-nav {
  display: none;
  color: #000;
}
@media (min-width: 1200px) {
  .l-header-nav {
    display: block;
  }
}
.l-header-nav__container {
  display: flex;
  align-items: center;
}
.l-header-nav__link {
  transition: all 0.7s ease-out;
  background: -webkit-linear-gradient(180deg, #000000, #FFFFFF, #868686, #3d3d3d);
  background: -webkit-linear-gradient(right, #000000, #FFFFFF, #868686, #3d3d3d);
  background: linear-gradient(270deg, #000000, #000000, #FFFFFF, #FFFFFF);
  background-position: 1% 50%;
  background-size: 300% 300%;
  border: none;
}
.l-header-nav__link:hover {
  background-position: 99% 50%;
  color: #FFFFFF;
  border: 2px solid #000000;
  cursor: url(../../img/Ellipse24.png), auto;
  padding: 0 4px;
  transform: scale(0.8);
}
@media (min-width: 1200px) {
  .l-header-nav__link {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 1.7142;
  }
}
.l-header-nav__item {
  font-weight: 700;
}
.l-header-nav__item:not(:last-child, :nth-last-child(3), :nth-last-child(2)) {
  margin-right: 22px;
}
.l-header-nav__item:nth-last-child(2) {
  margin-right: 24px;
  margin-left: 24px;
}

.c-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: url(../img/Ellipse24.png), auto;
  background-color: transparent;
  border: none;
  appearance: none;
}

.l-header-hamburger {
  position: fixed;
  left: 85%;
  z-index: 3;
  display: inline-block;
  width: 48px;
  height: 48px;
}
@media (min-width: 576px) {
  .l-header-hamburger {
    left: 90%;
  }
}
@media (min-width: 1200px) {
  .l-header-hamburger {
    display: none;
  }
}
.l-header-hamburger__line1, .l-header-hamburger__line2, .l-header-hamburger__line3 {
  position: absolute;
  top: 0;
  left: 10px;
  width: 27px;
  height: 2.75px;
  background: black;
  transition: 0.3s;
}
.l-header-hamburger__line1 {
  top: 0;
}
.l-header-hamburger__line2 {
  top: 7px;
}
.l-header-hamburger__line3 {
  top: 14px;
}

.is-active {
  z-index: 4;
}
.is-active .l-header-hamburger__line1 {
  top: 0;
  right: 0%;
  transform: rotate(-135deg);
}
.is-active .l-header-hamburger__line2 {
  display: none;
}
.is-active .l-header-hamburger__line3 {
  top: 0;
  right: 0%;
  z-index: 4;
  transform: rotate(135deg);
}
.is-active .l-header-hamburger__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* ==========================
footer
=========================== */
.l-footer {
  padding: 22px 0;
  background: #D9D9D9;
}
.l-footer__wrapper {
  padding-right: 16px;
  padding-left: 16px;
}
.l-footer__area {
  display: block;
}
@media (min-width: 992px) {
  .l-footer__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 320px) {
  .l-footer__title-area {
    text-align: center;
  }
}
.l-footer__title {
  font-size: calc(32px + 20 * (100vw - 500px) / 600);
}
.l-footer__contact {
  font-weight: 700;
  font-size: calc(20px + 6 * (100vw - 500px) / 600);
  position: relative;
}
.l-footer__contact::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 2px;
  width: 15rem;
  transform: translateY(-50%);
  background: #000;
  z-index: 2;
}
@media (min-width: 992px) {
  .l-footer__contact {
    margin-top: 20px;
  }
  .l-footer__contact::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    height: 2px;
    width: 25rem;
    transform: translateY(-50%);
    background: #000;
    z-index: 2;
  }
}
.l-footer__bottom-area {
  margin-top: 36px;
  text-align: center;
}
@media (min-width: 992px) {
  .l-footer__bottom-area {
    text-align: right;
    margin-top: 141px;
  }
}
@media (min-width: 992px) {
  .l-footer__privacy {
    font-size: 14px;
  }
}
.l-footer__copyright {
  margin-top: 6px;
}
@media (min-width: 992px) {
  .l-footer__copyright {
    font-weight: 700;
    padding-top: 14px;
  }
}

.l-footer-nav {
  display: block;
  color: #000;
}
@media (min-width: 768px) {
  .l-footer-nav {
    display: block;
  }
}
.l-footer-nav__container {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .l-footer-nav__container {
    display: flex;
    align-items: center;
  }
}
.l-footer-nav__container li {
  text-align: center;
}
.l-footer-nav__link {
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, #000000, #000000, #D9D9D9, #D9D9D9);
  background-position: 1% 50%;
  background-size: 300% 300%;
  border: none;
}
.l-footer-nav__link:hover {
  background-position: 99% 50%;
  color: #FFFFFF;
  border: 2px solid #000000;
  cursor: url(../../img/Ellipse24.png), auto;
  padding: 0 4px;
  transform: scale(0.8);
}
@media (min-width: 992px) {
  .l-footer-nav__link {
    position: relative;
    display: block;
    font-size: 32px;
    line-height: 1.7142;
  }
}
.l-footer-nav__item {
  font-weight: 700;
}
.l-footer-nav__item:not(:last-child, :nth-last-child(3), :nth-last-child(2)) {
  margin-right: 2.2rem;
}
.l-footer-nav__item:nth-last-child(2) {
  margin-right: 24px;
  margin-left: 24px;
}

/* ==========================
drawer
=========================== */
.l-drawer__content {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-top: 96px;
  visibility: hidden;
  background: #023e78;
  opacity: 0;
  transition: all 0.5s linear 0s;
  transform: translateX(0);
}
.l-drawer__content.is-active {
  visibility: visible;
  opacity: 1;
}
.l-drawer__content-item {
  color: #fff;
  text-align: center;
}
.l-drawer__content-item a {
  position: relative;
  display: block;
  padding: 18px 20px;
  color: #fff;
  text-decoration: none;
}
.l-drawer__content-item a::after {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 8px;
  height: 11px;
  content: "";
  background: url("../../img/arrow-b.png") no-repeat center/contain;
  transform: translateY(-50%);
}
.l-drawer__button {
  display: block;
  text-align: center;
}
.l-drawer__download {
  display: inline-block;
  padding: 22px 83px;
  margin-top: 40px;
  color: blueviolet;
  border: 1px solid rgb(255, 255, 255);
}
.l-drawer__contact {
  display: inline-block;
  padding: 22px 99px;
  margin-top: 32px;
  color: blue;
  background: rgb(255, 255, 255);
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
  grid-area: sidebar;
}

.site-footer {
  grid-area: footer;
}

.no-sidebar .site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer";
}

.no-sidebar .site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer";
}

/* ==========================
c-section
=========================== */
.c-section-title {
  font-size: calc(20px + 6 * (100vw - 500px) / 600);
  font-weight: 700;
}
.c-section-title::before {
  counter-increment: number 1;
  content: counter(number, decimal-leading-zero) "";
  font-size: 20px;
}
.c-section-title__english {
  display: block;
  font-size: calc(46px + 6 * (100vw - 500px) / 600);
}

.c-article-card__link {
  display: inline-block;
}
.c-article-card__image-inner {
  display: inline-block;
  width: 330px;
}
.c-article-card__image-inner img {
  height: 200px;
  object-fit: cover;
}
.c-article-card__noimage {
  width: 100%;
  height: 200px;
  display: block;
  background-color: #D9D9D9;
}
.c-article-card__content-inner {
  margin-top: 8px;
}
.c-article-card__title {
  font-size: 18px;
  font-weight: 500;
}

/* ==========================
fv
=========================== */
.p-index-fv {
  margin-top: 32px;
}
@media (min-width: 1200px) {
  .p-index-fv__container {
    display: grid;
    grid-template-areas: "title";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 24px;
  }
}
.p-index-fv__title {
  writing-mode: vertical-rl;
  white-space: nowrap;
  margin: auto;
  width: 30%;
  line-height: 1.8;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: calc(20px + 6 * (100vw - 500px) / 600);
  position: relative;
}
.p-index-fv__title::before {
  content: "";
  position: absolute;
  width: 211px;
  height: 35.33px;
  border-radius: 70%;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 150%;
}
@media (min-width: 768px) {
  .p-index-fv__title::before {
    left: 50%;
  }
}
@media (min-width: 1200px) {
  .p-index-fv__title::before {
    top: 115%;
    left: -186%;
  }
}
@media (min-width: 1200px) {
  .p-index-fv__title {
    font-size: 26px;
    font-weight: 700;
    grid-row: 1/end;
    grid-column: 3;
    font-feature-settings: "case" on, "vert" on, "kern" off;
  }
}
.p-index-fv__job {
  font-size: 66px;
  font-weight: 700;
  grid-column: 1;
  grid-row: 4/5;
}
@media (min-width: 1200px) {
  .p-index-fv__job {
    font-size: 95px;
  }
}
.p-index-fv__author {
  font-size: calc(50px + 20 * (100vw - 500px) / 600);
  font-weight: 600;
  grid-column: 5/7;
  grid-row: end;
  line-height: 1;
  text-align: right;
  margin-top: 75px;
}

.u-line-break::before {
  content: "\a";
  white-space: pre;
}

.common__section {
  padding: 100px 0;
  width: 100%;
}

.common__container {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

.common__title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* ==========================
 profile
=========================== */
.p-index-profile {
  margin-top: 77px;
}
.p-index-profile__wrapper {
  margin-left: 36px;
}
@media (min-width: 1400px) {
  .p-index-profile__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
.p-index-profile__title-n {
  font-size: 20px;
  font-weight: 700;
}
.p-index-profile__title-main {
  font-size: 52px;
  font-weight: 700;
}
.p-index-profile__title-sub {
  font-size: 26px;
  font-weight: 700;
}
.p-index-profile__p-area {
  width: 684px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
}
.p-index-profile__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #D9D9D9;
  background-position: 50% 20%;
  background-size: auto 253px;
  margin: 25px auto;
}
.p-index-profile__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 2em 4.5em;
  color: #333;
  transition: 0.3s;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.p-index-profile__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 1em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 12px;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
}
.p-index-profile__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  width: 73px;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
}
.p-index-profile__button:hover::before {
  right: 0.5em;
}
.p-index-profile__button:hover::after {
  right: 0.5em;
}

.p-index-counter {
  counter-reset: number 0;
}

/* ==========================
 skils
=========================== */
.p-index-skils__wrapper {
  margin-left: 36px;
}
@media (min-width: 1400px) {
  .p-index-skils__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
.p-index-skils__title-n {
  font-size: 20px;
  font-weight: 700;
}
.p-index-skils__title-main {
  font-size: 52px;
  font-weight: 700;
}
.p-index-skils__title-sub {
  font-size: 26px;
  font-weight: 700;
}
.p-index-skils__p-area {
  padding: 0 70px 0 0;
  width: 684px;
  max-width: 100%;
  margin: 62px auto;
}
@media (min-width: 992px) {
  .p-index-skils__p-area {
    padding: 0;
  }
}
.p-index-skils__text {
  margin-bottom: 60px;
}
.p-index-skils__text-main {
  font-size: 24px;
  font-weight: 700;
  margin: 12px;
}
.p-index-skils__text-content {
  border-top: 1px solid #000;
  padding-top: 18px;
}
.p-index-skils__text-sub {
  margin-top: 32px;
}
.p-index-skils__text-sub-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.p-index-skils__text-sub-content {
  font-size: 14px;
  font-weight: 700;
}

/* ==========================
 works
=========================== */
.p-index-works {
  overflow: hidden;
  margin-top: 95px;
}
.p-index-works__wrapper {
  margin-left: 36px;
}
@media (min-width: 1400px) {
  .p-index-works__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
.p-index-works__xscroll {
  overflow-x: scroll;
  margin: 0 calc(50% - 50vw);
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}
.p-index-works__xscroll::-webkit-scrollbar {
  display: none;
}
.p-index-works__container {
  margin-top: 54px;
  display: flex;
  width: 150vw;
  gap: 24px;
  margin-left: calc(69% - 50vw);
}
.p-index-works__column {
  width: 330px;
}
/* ==========================
blog
=========================== */
.p-index-blog {
  overflow: hidden;
  margin-top: 95px;
}
.p-index-blog__wrapper {
  margin-left: 36px;
}
@media (min-width: 1400px) {
  .p-index-blog__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
.p-index-blog__xscroll {
  overflow-x: scroll;
  margin: 0 calc(50% - 50vw);
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}
.p-index-blog__xscroll::-webkit-scrollbar {
  display: none;
}
.p-index-blog__container {
  margin: 54px 0 148px 0;
  display: flex;
  gap: 24px;
  margin-left: calc(69% - 50vw);
}
.p-index-blog__column {
  width: 330px;
}
/* ==========================
title
=========================== */
.p-works-title {
  margin-top: 15px;
  text-align: center;
}
.p-works-title__en {
  padding: 6px 0;
  font-size: 52px;
  font-weight: 700;
}
.p-works-title__jp {
  display: inline-block;
  padding: 4px 0;
  position: relative;
}
@media (min-width: 1400px) {
  .p-works-title__jp {
    font-size: 18px;
  }
}
.p-works-title__jp::after {
  content: "";
  position: absolute;
  width: 93.45px;
  height: 15.65px;
  border-radius: 70%;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 150%;
  left: -15%;
}
.p-works-title__icon {
  width: 93.45px;
  height: 15.65px;
  margin: 18px 0 57px 0;
}

/* ==========================
contents
=========================== */
.p-works-contents {
  padding-top: 60px 0 0;
}
.p-works-contents__wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
.p-works-contents__container {
  display: block;
}
.p-works-contents__main {
  width: 100%;
  padding: 0 25px;
}
@media (min-width: 768px) {
  .p-works-contents__main {
    width: 100%;
    max-width: 685px;
    margin: 0 auto;
    padding: 0;
  }
}
.p-works-contents__breadcrumb {
  color: #000;
  display: flex;
  align-items: center;
}
.p-works-contents__breadcrumb-padding {
  padding: 0 8px;
}
.p-works-contents__breadcrumb-title {
  font-size: 14px;
}
.p-works-contents__archive-works-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 36px;
}
.p-works-contents__archive-works-thumbnail {
  width: 50%;
}
@media (min-width: 576px) {
  .p-works-contents__archive-works-thumbnail {
    width: 60%;
    height: 100%;
  }
}
.p-works-contents__archive-works-thumbnail-image {
  height: auto;
}
@media (min-width: 576px) {
  .p-works-contents__archive-works-thumbnail-image {
    width: 330px;
    height: 200px;
  }
}
.p-works-contents__archive-works-body {
  width: 45%;
}
@media (min-width: 576px) {
  .p-works-contents__archive-works-body {
    width: 330px;
    margin-left: 12px;
  }
}
.p-works-contents__meta {
  display: flex;
  align-items: center;
}
.p-works-contents__meta-cats {
  display: flex;
  align-items: center;
}
.p-works-contents__time-icon {
  width: 16.58px;
  height: 16px;
}
.p-works-contents__meta-time {
  font-size: 14px;
  line-height: 2.1;
  color: #414141;
  margin-left: 3.65px;
}
.p-works-contents__archive-works-title {
  font-size: 18px;
  font-weight: 700;
}

.pagination {
  margin: 58px auto;
}

.nav-links {
  display: flex;
}

.pagination .page-numbers {
  display: inline-block;
  margin-right: 26px;
  padding: 20px 0px;
  color: #000;
  font-size: 20px;
}

.pagination .dots {
  background: transparent;
  box-shadow: none;
}

/* ==========================
title
=========================== */
.p-single-works-title {
  margin-top: 15px;
  text-align: center;
}
.p-single-works-title__en {
  padding: 6px 0;
  font-size: 52px;
  font-weight: 700;
}
.p-single-works-title__jp {
  display: inline-block;
  padding: 4px 0;
  position: relative;
}
@media (min-width: 1400px) {
  .p-single-works-title__jp {
    font-size: 18px;
  }
}
.p-single-works-title__jp::after {
  content: "";
  position: absolute;
  width: 93.45px;
  height: 15.65px;
  border-radius: 70%;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 150%;
  left: -10%;
}
.p-single-works-title__icon {
  width: 93.45px;
  height: 15.65px;
  margin: 18px 0 57px 0;
}

/* ==========================
contents
=========================== */
.p-single-works-contents {
  padding-top: 60px 0 0;
}
.p-single-works-contents__wrapper {
  width: 100%;
}
.p-single-works-contents__container {
  display: block;
}
.p-single-works-contents__archive-blog {
  width: 100%;
  padding: 0 25px;
}
@media (min-width: 768px) {
  .p-single-works-contents__archive-blog {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
.p-single-works-contents__breadcrumb {
  color: #000;
  display: flex;
  align-items: center;
  padding-bottom: 45px;
}
.p-single-works-contents__breadcrumb-padding {
  padding: 0 8px;
}
.p-single-works-contents__breadcrumb-title {
  font-size: 14px;
}
.p-single-works-contents__img-company {
  padding-top: 45px;
  width: 100%;
  max-width: 100%;
  height: 243px;
  background: url("../../img/single-img.png") no-repeat center/cover;
}
@media (min-width: 576px) {
  .p-single-works-contents__img-company {
    height: 355px;
  }
}
@media (min-width: 768px) {
  .p-single-works-contents__img-company {
    height: 458px;
  }
}
.p-single-works-contents__detail {
  width: 760px;
  margin: auto;
  max-width: 100%;
  padding: 0 27px;
}
@media (min-width: 768px) {
  .p-single-works-contents__detail {
    padding: 0 42px;
  }
}
@media (min-width: 992px) {
  .p-single-works-contents__detail {
    padding: 0;
    max-width: 685px;
  }
}
.p-single-works-contents__detail-title {
  font-size: 32px;
  font-weight: 700;
  padding: 32px 0 18px;
}
.p-single-works-contents__detail-date {
  display: flex;
  margin-bottom: 32px;
}
.p-single-works-contents__detail-post {
  font-size: 14px;
}
.p-single-works-contents__detail-icon img {
  width: 13px;
  height: 13px;
}
.p-single-works-contents__detail-update {
  margin-left: 20.35px;
  font-size: 14px;
}
.p-single-works-contents__single-content p + p {
  margin-top: 39px;
}

/* ==========================
title
=========================== */
.p-blog-title {
  margin-top: 15px;
  text-align: center;
}
.p-blog-title__en {
  padding: 6px 0;
  font-size: 52px;
  font-weight: 700;
}
.p-blog-title__jp {
  display: inline-block;
  padding: 4px 0;
  position: relative;
}
@media (min-width: 1400px) {
  .p-blog-title__jp {
    font-size: 18px;
  }
}
.p-blog-title__jp::after {
  content: "";
  position: absolute;
  width: 93.45px;
  height: 15.65px;
  border-radius: 70%;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 150%;
  left: -35%;
}
.p-blog-title__icon {
  width: 93.45px;
  height: 15.65px;
  margin: 18px 0 57px 0;
}

/* ==========================
contents
=========================== */
.p-blog-contents {
  padding-top: 60px 0 0;
}
.p-blog-contents__wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
.p-blog-contents__container {
  display: block;
}
.p-blog-contents__main {
  width: 100%;
  padding: 0 25px;
}
@media (min-width: 768px) {
  .p-blog-contents__main {
    width: 100%;
    max-width: 642px;
    margin: 0 auto;
    padding: 0;
  }
}
.p-blog-contents__breadcrumb {
  color: #000;
  display: flex;
  align-items: center;
}
.p-blog-contents__breadcrumb-padding {
  padding: 0 8px;
}
.p-blog-contents__breadcrumb-title {
  font-size: 14px;
}
.p-blog-contents__archive-blog-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 36px;
}
.p-blog-contents__archive-blog-thumbnail {
  width: 50%;
}
@media (min-width: 576px) {
  .p-blog-contents__archive-blog-thumbnail {
    width: 60%;
    height: 100%;
  }
}
.p-blog-contents__archive-blog-thumbnail-image {
  height: auto;
}
@media (min-width: 576px) {
  .p-blog-contents__archive-blog-thumbnail-image {
    width: 330px;
    height: 200px;
  }
}
.p-blog-contents__archive-blog-body {
  width: 45%;
}
@media (min-width: 576px) {
  .p-blog-contents__archive-blog-body {
    width: 330px;
    margin-left: 12px;
  }
}
.p-blog-contents__meta {
  display: flex;
  align-items: center;
}
.p-blog-contents__meta-cats {
  display: flex;
  align-items: center;
}
.p-blog-contents__time-icon {
  width: 16.58px;
  height: 16px;
}
.p-blog-contents__meta-time {
  font-size: 14px;
  line-height: 2.1;
  color: #414141;
  margin-left: 3.65px;
}
.p-blog-contents__archive-blog-title {
  font-size: 18px;
  font-weight: 700;
}

.pagination {
  margin: 58px auto;
}

.nav-links {
  display: flex;
}

.pagination .page-numbers {
  display: inline-block;
  margin-right: 26px;
  padding: 20px 0px;
  color: #000;
  font-size: 20px;
}

.pagination .dots {
  background: transparent;
  box-shadow: none;
}

/* ==========================
title
=========================== */
.p-single-blog-title {
  margin-top: 15px;
  text-align: center;
}
.p-single-blog-title__en {
  padding: 6px 0;
  font-size: 52px;
  font-weight: 700;
}
.p-single-blog-title__jp {
  display: inline-block;
  padding: 4px 0;
  position: relative;
}
@media (min-width: 1400px) {
  .p-single-blog-title__jp {
    font-size: 18px;
  }
}
.p-single-blog-title__jp::after {
  content: "";
  position: absolute;
  width: 93.45px;
  height: 15.65px;
  border-radius: 70%;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 150%;
  left: -32%;
}
.p-single-blog-title__icon {
  width: 93.45px;
  height: 15.65px;
  margin: 18px 0 57px 0;
}

/* ==========================
contents
=========================== */
.p-single-blog-contents {
  padding-top: 60px 0 0;
}
.p-single-blog-contents__wrapper {
  width: 100%;
}
.p-single-blog-contents__container {
  display: block;
}
.p-single-blog-contents__archive-blog {
  width: 100%;
  padding: 0 25px;
}
@media (min-width: 768px) {
  .p-single-blog-contents__archive-blog {
    width: 735px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
.p-single-blog-contents__breadcrumb {
  color: #000;
  display: flex;
  align-items: center;
  padding-bottom: 45px;
}
.p-single-blog-contents__breadcrumb-padding {
  padding: 0 8px;
}
.p-single-blog-contents__breadcrumb-title {
  font-size: 14px;
}
.p-single-blog-contents__img-company {
  padding-top: 45px;
  width: 100%;
  max-width: 100%;
  height: 243px;
  background: url("../../img/single-img.png") no-repeat center/cover;
}
@media (min-width: 576px) {
  .p-single-blog-contents__img-company {
    height: 355px;
  }
}
@media (min-width: 768px) {
  .p-single-blog-contents__img-company {
    height: 458px;
  }
}
.p-single-blog-contents__detail {
  width: 745px;
  margin: auto;
  max-width: 100%;
  padding: 0 27px;
}
@media (min-width: 768px) {
  .p-single-blog-contents__detail {
    padding: 0 42px;
  }
}
@media (min-width: 992px) {
  .p-single-blog-contents__detail {
    padding: 0;
    width: 687px;
  }
}
.p-single-blog-contents__detail-title {
  font-size: 32px;
  font-weight: 700;
  padding: 32px 0 18px;
}
.p-single-blog-contents__detail-date {
  display: flex;
  margin-bottom: 32px;
}
.p-single-blog-contents__detail-post {
  font-size: 14px;
}
.p-single-blog-contents__detail-icon img {
  width: 13px;
  height: 13px;
}
.p-single-blog-contents__detail-update {
  margin-left: 20.35px;
  font-size: 14px;
}
.p-single-blog-contents__single-content p + p {
  margin-top: 39px;
}

/* ==========================
title
=========================== */
.p-contact-title {
  margin-top: 15px;
  text-align: center;
}
.p-contact-title__en {
  padding: 6px 0;
  font-size: 52px;
  font-weight: 700;
}
.p-contact-title__jp {
  display: inline-block;
  padding: 4px 0;
}
@media (min-width: 1400px) {
  .p-contact-title__jp {
    font-size: 18px;
  }
}
.p-contact-title__icon {
  width: 93.45px;
  height: 15.65px;
  margin: 18px 0 57px 0;
}

/* ==========================
contact-item
=========================== */
.p-contact-item {
  margin: 60px auto;
}
.p-contact-item__container {
  padding: 0 20px;
}
@media (min-width: 992px) {
  .p-contact-item__container {
    padding: 0 239px;
  }
}
.p-contact-item__intro {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.714;
}
@media (min-width: 1200px) {
  .p-contact-item__intro {
    width: 60%;
    margin: auto;
  }
}
.p-contact-item__form {
  max-width: 687px;
  margin: 0 auto;
}
.p-contact-item__form-top-title {
  font-size: 26px;
  font-weight: 700;
}
.p-contact-item__form-item {
  margin-top: 35px;
}
.p-contact-item__form-title {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.p-contact-item__form-title::after {
  position: absolute;
  content: attr(data-sub);
  font-size: 18px;
  color: #FF5029;
}
.p-contact-item__form input {
  display: inline-block;
  height: 48px;
  border-radius: 5px;
}
.p-contact-item__input--error {
  width: 100%;
  padding: 0;
  display: inline-block;
  font-size: 90%;
  color: red;
  box-sizing: border-box;
}
.p-contact-item__form-submit {
  text-align: center;
}
@media (min-width: 1400px) {
  .p-contact-item__form-submit {
    text-align: left;
  }
}
.p-contact-item__button {
  display: inline-block;
  padding: 18px 16px;
  margin-top: 40px;
  color: #FFFFFF;
  background-color: #000;
  font-size: 26px;
}
.p-contact-item__button:hover {
  transition: 0.3s 0.3s;
}

textarea {
  display: inline-block;
  width: 100%;
  height: 240px;
  min-height: 122px;
  resize: vertical;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type=text] {
  width: 228px;
}

input[type=email] {
  width: 250px;
}

/* ==========================
 page-profile
=========================== */
.p-page-profile {
  margin-top: 77px;
}
.p-page-profile__wrapper {
  margin-left: 36px;
}
@media (min-width: 1400px) {
  .p-page-profile__wrapper {
    max-width: 100%;
    width: 684px;
    margin: 0 auto;
  }
}
.p-page-profile__title-en {
  font-size: 52px;
  display: block;
}
@media (min-width: 1200px) {
  .p-page-profile__title-en {
    font-size: calc(90px + 6 * (100vw - 500px) / 600);
  }
}
.p-page-profile__title-ja {
  font-size: 26px;
}
@media (min-width: 1200px) {
  .p-page-profile__title-ja {
    font-size: 32px;
  }
}
.p-page-profile__title-n {
  font-size: 20px;
  font-weight: 700;
}
.p-page-profile__title-main {
  font-size: 52px;
  font-weight: 700;
}
.p-page-profile__title-sub {
  font-size: 26px;
  font-weight: 700;
}
.p-page-profile__p-area {
  width: 684px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
}
.p-page-profile__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #D9D9D9;
  background-position: 50% 20%;
  background-size: auto 253px;
  margin: 25px auto;
}
.p-page-profile__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 2em 4.5em;
  color: #333;
  transition: 0.3s;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.p-page-profile__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 1em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 12px;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
}
.p-page-profile__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  width: 73px;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
}
.p-page-profile__button:hover::before {
  right: 0.5em;
}
.p-page-profile__button:hover::after {
  right: 0.5em;
}

/* ==========================
page-profile-skils
=========================== */
.p-page-profile-skils__wrapper {
  margin-left: 36px;
}
@media (min-width: 1400px) {
  .p-page-profile-skils__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
.p-page-profile-skils__text-title {
  font-size: 26px;
  font-weight: 700;
  margin-left: 12px;
}
.p-page-profile-skils__title-n {
  font-size: 20px;
  font-weight: 700;
}
.p-page-profile-skils__title-main {
  font-size: 52px;
  font-weight: 700;
}
.p-page-profile-skils__title-sub {
  font-size: 26px;
  font-weight: 700;
}
.p-page-profile-skils__p-area {
  padding: 0 24px 0 0;
  width: 684px;
  max-width: 100%;
  margin: 62px auto;
}
@media (min-width: 992px) {
  .p-page-profile-skils__p-area {
    padding: 0 70px 0 0;
  }
}
.p-page-profile-skils__text {
  margin-bottom: 60px;
}
.p-page-profile-skils__text-main {
  font-size: 24px;
  font-weight: 700;
  margin: 29px 12px 12px 12px;
}
.p-page-profile-skils__text-content {
  border-top: 1px solid #000;
  padding-top: 18px;
}
.p-page-profile-skils__text-sub {
  margin-top: 32px;
}
.p-page-profile-skils__text-sub-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.p-page-profile-skils__text-sub-content {
  font-size: 14px;
  font-weight: 700;
}

/* ==========================
page-profile-career
=========================== */
.p-page-profile-career {
  padding-top: 53px;
}
.p-page-profile-career__wrapper {
  width: 684px;
  max-width: 100%;
  margin: 0 auto;
}
.p-page-profile-career__title {
  font-size: 26px;
  font-weight: 700;
  margin-left: 12px;
}
.p-page-profile-career__timeline {
  padding: 0 5px;
}
@media (min-width: 992px) {
  .p-page-profile-career__timeline {
    padding-top: 16px;
  }
}
.p-page-profile-career__timeline-list {
  padding: 8px 0;
}
.p-page-profile-career__timeline-content {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0 18px 0 30px;
  border-left: 1px solid;
}
.p-page-profile-career__timeline-content::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #000000;
  top: 0;
  left: -2%;
  border-radius: 100%;
}
@media (min-width: 992px) {
  .p-page-profile-career__timeline-content::before {
    left: -1%;
  }
}
.p-page-profile-career__timeline-content h3 {
  font-size: 18px;
  font-weight: 700;
}
.p-page-profile-career__timeline-content p {
  padding-top: 8px;
}

/* ==========================
page-profile-message
=========================== */
.p-page-profile-message {
  padding-top: 53px;
}
.p-page-profile-message__wrapper {
  width: 684px;
  max-width: 100%;
  margin: 0 auto;
}
.p-page-profile-message__title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 22px;
}
@media (min-width: 1200px) {
  .p-page-profile-message__title {
    font-size: 26px;
    margin-left: 0;
  }
}
.p-page-profile-message__text-area {
  padding: 18px 24px 64px;
}
@media (min-width: 1200px) {
  .p-page-profile-message__text-area {
    padding: 18px 0 64px;
  }
}
.p-page-profile-message__text {
  font-size: 14px;
  line-height: 1.5;
}
.p-page-profile-message__button {
  text-align: center;
}
@media (min-width: 1200px) {
  .p-page-profile-message__button {
    text-align: left;
  }
}
.p-page-profile-message__button a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 18px 8px;
  font-size: 26px;
  font-weight: 700;
}
.p-page-profile-message__button a:hover {
  color: #FFFFFF;
  cursor: url(../../img/Ellipse24.png), auto;
  opacity: 0.7;
}

/* ==========================
 p-page-profile-works
=========================== */
.p-page-profile-works {
  overflow: hidden;
  margin: 95px 0 126px 0;
}
.p-page-profile-works__wrapper {
  margin-left: 36px;
}
@media (min-width: 1400px) {
  .p-page-profile-works__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
.p-page-profile-works__title-inner {
  font-weight: 700;
}
.p-page-profile-works__xscroll {
  overflow-x: scroll;
  margin: 0 calc(50% - 50vw);
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}
.p-page-profile-works__xscroll::-webkit-scrollbar {
  display: none;
}
.p-page-profile-works__container {
  margin-top: 54px;
  display: flex;
  width: 150vw;
  gap: 24px;
  margin-left: calc(69% - 50vw);
}
.p-page-profile-works__column {
  width: 330px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  margin-bottom: 1.5em;
}

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*!
Theme Name: portfolio
Theme URI: http://underscores.me/
Author: muroi
Author URI: http://akihitomuroi.com
Description: Custom theme: portfolio, developed by muroi
Version: 1.0.0

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
