/* Error: Undefined mixin.
 *    ,
 * 24 | /         @include var.mq(xl) {
 * 25 | |             width: 288px;
 * 26 | |             padding-left: 20px;
 * 27 | \         }
 *    '
 *   themes/portfolio/src/scss/layout/_header.scss 24:3  @forward
 *   themes/portfolio/src/scss/layout/_index.scss 3:1    @use
 *   themes/portfolio/src/scss/main.scss 45:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 24 \2502  \250c          @include var.mq(xl) {\a 25 \2502  \2502              width: 288px;\a 26 \2502  \2502              padding-left: 20px;\a 27 \2502  \2514          }\a    \2575 \a   themes/portfolio/src/scss/layout/_header.scss 24:3  @forward\a   themes/portfolio/src/scss/layout/_index.scss 3:1    @use\a   themes/portfolio/src/scss/main.scss 45:1            root stylesheet";
}
