@use '../../../global/' as var;

/* ==========================
title
=========================== */
.p-works-title {
  margin-top: 15px;
  text-align: center;


  &__en {
    padding: 6px 0;
    font-size: 52px;
    font-weight: 700;
  

    @include var.mq(sp) {
      font-size: 52px;
    }
  }

  &__jp {
    display: inline-block;
    padding: 4px 0;
    position: relative;

    @include var.mq(xxl) {
      font-size: 18px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 93.45px;
        height: 15.65px;
        border-radius: 70%;
        background: var.$c-white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        top: 150%;
        left: -15%;
    }
    
  }

    &__icon   {
    width: 93.45px;
    height: 15.65px;
    margin: 18px 0 57px 0;
  }
}
