@use '../global/' as var;

/* ==========================
header
=========================== */
.l-header {
	padding-top: 22px;

	&__wrapper {
		padding-right: 24px;
		padding-left: 24px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-size: 32px;
		font-weight: 700;
	}
}

.l-header-nav {
	display: none;
	color: #000;

	@include var.mq(xl) {
		display: block;
	}

	&__container {
		display: flex;
		align-items: center;
	}

	&__link {
		transition: all 0.7s ease-out;
		background: -webkit-linear-gradient(180deg, var.$c-base-color, var.$c-white, var.$c-gradient-light, var.$c-gradient-middle);
		background: -webkit-linear-gradient(right, var.$c-base-color, var.$c-white, var.$c-gradient-light, var.$c-gradient-middle);
		background: linear-gradient(270deg, var.$c-base-color, var.$c-base-color, var.$c-white, var.$c-white);
		background-position: 1% 50%;
		background-size: 300% 300%;
		border: none;
		
		&:hover {
			background-position: 99% 50%;
			color: var.$c-white;
			border: 2px solid var.$c-base-color;
	        cursor: url(../../img/Ellipse24.png), auto;
			padding: 0 4px;
			transform: scale(0.8);
		}

		@include var.mq(xl) {
			position: relative;
			display: block;
			font-size: 22px;
			line-height: 1.7142;
		}
	}

	&__item { 
		font-weight: 700;
		&:not(:last-child, :nth-last-child(3), :nth-last-child(2)) {
			margin-right: 22px;
		}

		&:nth-last-child(2) {
			margin-right: 24px;
			margin-left: 24px;
		}
	}
}

.c-button {
	position: relative;
	display: inline-block;
	text-decoration: none;
	cursor: url(../img/Ellipse24.png), auto;
	background-color: transparent;
	border: none;
	appearance: none;
}

.l-header-hamburger {
	position: fixed;
	left: 85%;
	z-index: 3;
	display: inline-block;
	width: 48px;
	height: 48px;	


	@include var.mq(sm) {
		left: 90%;
	}

	@include var.mq(xl) {
		display: none;
	}

	&__line1,
	&__line2,
	&__line3 {
		position: absolute;
		top: 0;
		left: 10px;
		width: 27px;
		height: 2.75px;
		background: black;
		transition: 0.3s;
	}

	&__line1 {
		top: 0;
	}

	&__line2 {
		top: 7px;
	}

	&__line3 {
		top: 14px;
	}
}

// ハンバーガーメニュークリック時
.is-active {
	z-index: 4;

	.l-header-hamburger__line1 {
		top: 0;
		right: 0%;
		// background: var.$c-main-thin;
		transform: rotate(-135deg);
	}

	.l-header-hamburger__line2 {
		display: none;
	}

	.l-header-hamburger__line3 {
		top: 0;
		right: 0%;
		z-index: 4;
		// background: var.$c-main-thin;
		transform: rotate(135deg);
	}

	.l-header-hamburger__visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		white-space: nowrap;
		border: 0;
	}
}
