@use '../../../global/' as var;

/* ==========================
blog
=========================== */
.p-index-blog {
	overflow: hidden;
	margin-top: 95px;

	&__wrapper {
		margin-left: 36px;

		@include var.mq(xxl) {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;	
		}
	}

	&__xscroll {
		overflow-x: scroll;
		margin: 0 calc(50% - 50vw);
		/*スクロールバー非表示（IE・Edge）*/
		-ms-overflow-style: none;
		/*スクロールバー非表示（Firefox）*/
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__container {
		margin-top: 54px;
		display: flex;
		width: 150vw;
		gap: 24px;
		margin-left: calc(69% - 50vw);
	}

	&__column {
		// width: calc(33.3% - 24px * 2 / 4);
		width: 330px;
	}


	&__card {}

	&__card-items {
		// margin-left: 24px;
	}
}
