@use '../../../global/' as var;

/* ==========================
fv
=========================== */
.p-index-fv {
	

	&__container {
	    
	}

	&__hero-parent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}


	&__box1 {
		grid-area: 1 / 2 / 2 / 3;
		writing-mode: vertical-rl;
		font-size: 2.6rem;
		font-weight: 700;
		width: 55%;
		line-height: 1.3;	
	}

	&__box2 {
		grid-area: 2 / 1 / 3 / 2;
		font-size: 9.5rem;
	    font-weight: 700;
		font-family: var.$font-family-en;
	}

	&__box3 {
       grid-area: 3 / 4 / 4 / 4;
	   font-size: 7rem;
	   font-weight: 700;
	   font-family: var.$font-family-en;
	   text-align: left;
	}

}


