@use '../../../global/' as var;

/* ==========================
fv
=========================== */
.p-index-fv {
	margin-top: 32px;

	&__container {
	    display: grid;
		justify-items: center;
		grid-template-areas: "title";
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		padding: 0 24px;
	}

	&__title {

		@include var.mq(xl) {
			writing-mode: vertical-lr;
			font-size: 26px;
			font-weight: 700;
			grid-row: 1 / end;
			grid-column: 2;
			line-height: 1.8;
			letter-spacing: 10px;
			font-feature-settings: 'case' on, 'vert' on, 'kern' off;
		}
	}


	&__job {
		font-size: 95px;
		font-weight: 700;
		grid-column: 1;
		grid-row: 4/5;
	}

	&__author {
		font-size: 70px;
		font-weight: 600;
		grid-column: 3;
		grid-row: end;
	}
}

.u-line-break {
	&::before {
		content: "\A";
		white-space: pre;
	}
}

.common__section {
  padding: 100px 0;
  width: 100%;
}

.common__container {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

.common__title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
}


