@use '../../../global/' as var;

/* ==========================
fv
=========================== */
.p-index-fv {
	margin-top: 32px;

	&__container {
	    display: grid;
		justify-items: center;
		grid-template-areas: "title";
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	&__title {

		@include var.mq(xl) {
			writing-mode: vertical-lr;
			font-size: 2.6rem;
			font-weight: 700;
			grid-row: 1 / end;
			grid-column: 2;
			line-height: 1.8;
			letter-spacing: 10px;
			font-feature-settings: 'case' on, 'vert' on, 'kern' off;
		}
	}


	&__job {
		font-size: 9.5rem;
		font-weight: 700;
		grid-column: 1;
		grid-row: 4/5;
	}

	&__author {
		font-size: 7rem;
		font-weight: 600;
		grid-column: 3;
		grid-row: end;
	}
}

.u-line-break {
	&::before {
		content: "\A";
		white-space: pre;
	}
}


