
$font-family-default: ' 游ゴシック', yugothic, 'ヒラギノ角ゴ ProN W3',
  ' Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, 'Droid Sans', sans-serif;
$font-family-english: 'Montserrat', sans-serif;


$breakpoints: (
	'sm': (min-width: 576px,
	),
	'md': (min-width: 768px,
	),
	'lg': (min-width: 992px,
	),
	'xl': (min-width: 1200px,
	),
	'xxl': (min-width: 1400px,
	),
	) !default;
