@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');
$font-base: 'Yu Gothic Medium','游ゴシック Medium', 'Zen Kaku Gothic Antique',"游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ",
  '游ゴシック' , sans-serif;
  
$font-family-ja: 'Yu Gothic Medium','游ゴシック Medium',sans-serif;


$breakpoints: (
	'min': (min-width: 320px,
	),
	'sm': (min-width: 576px,
	),
	'md': (min-width: 768px,
	),
	'lg': (min-width: 992px,
	),
	'xl': (min-width: 1200px,
	),
	'xxl': (min-width: 1400px,
	),
	) !default;
