
/* ==========================
c-section
=========================== */
.c-section-title {
	font-size: calc(20px + 6 * (100vw - 500px) / 600);
	// font-size: 26px;
	font-weight: 700;

	&::before {
		counter-increment: number 1;
		content: counter(number, decimal-leading-zero) "";
		font-size: 20px;
	}

	&__english {
		display: block;
		font-size: calc(46px + 6 * (100vw - 500px) / 600);
	}
}
